*{
  margin: 0%;
  padding: 0%;
}

body{
  background: linear-gradient(rgba(64,224,208,1),rgba(144,255,208,1));
  max-width: 100%;
  height: 100vh;
}

.img-1{
  float: left;
  margin-left: 20px;
  height: 170px;
  width: 350px;
}

.img-2{
  float: right;
  margin-right: 40px;
  margin-top: 20px;
  height: 170px;
  width: 350px;
}

.cycle{
  margin-top: 50px;
  height: 40%; 
  width: 40%;
}  
